# wszystko
*
# poza podfolderami
!*/
# kody
!*.cpp
# zadania
!*.pdf
# spakowane dane
!Dane_PP.rar
!Dane_PR.rar
!Dane_PP2.rar
!Dane_PR2.rar
!Dane_PP.zip
!Dane_PR.zip
!Dane_PP2.zip
!Dane_PR2.zip
# dane/wyniki
!*.txt
!*.TXT
